<head></head>
<body>
<h1>modalPopupBrowserDetection</h1>
<script src="js/jquery-3.5.1.min.js"></script>
</body>
<script type="text/javascript">
  (function modalPopupBrowserDetection(){
    const browserArr = ["safari","opr","edge","msie","trident"],
      userAgent = window.navigator.userAgent,
      userAgentArr = userAgent.toLowerCase().split(/\s/);
    function modalPopup(found) {
      modal = true;
      document.body.innerHTML = '<div class="container" style="background-color: #222629 !important;min-height:1080px;"><div role="dialog" tabindex="-1" class="modal fade text-center" id="modal1" style="background-color: #777676;"><div class="modal-dialog modal-lg" role="document"><div class="modal-content" style="background-color: #777676; text-align: center"><img src="https://assets-private.eventfinity.co/logo_images/6011/original/Derse-White-158c-01.png" width="23%" style="padding: 2%;" /><div class="modal-body" style="padding:50px;text-align:center;min-width: 0;max-width: 718px;max-height: 346px;background-color: #ffffff;margin-left: auto;margin-right: auto;min-height: 346px;margin-bottom: 45px;border-radius: 15px;margin-top: 25px; right:0;left:0;margin:0 auto;"><h2 style="/*font-size: 18px;*/font-family: TradeGothicLT;">View with Firefox or Chrome for best experience.</h2><h2 style="/*font-size: 18px;*/font-family: TradeGothicLT;">Internet Explorer is not supported</h2><div class="modal-footer" style="text-align: center;"><button class="btn btn-default" type="button" data-dismiss="modal" style="margin:0 25px;">Close</button><button class="btn btn-primary" type="button" style="margin:0 25px;">Save</button></div></div></div></div></div></div>';
    };
    let i = 0, found = false, modal = false;
    userAgentArr.forEach(function(currAgent){
      if (found === false) {
        browserArr.forEach(function(currBrowser){
          if (currAgent.indexOf(currBrowser) > -1) {
            if (currBrowser === "safari") {
              if (window.navigator.vendor.indexOf("Apple") > -1) {
                if (userAgent.toLowerCase().indexOf("crios") > -1) return;
                found = currBrowser;
              };
            } else found = currBrowser;
          };
        });
      };
      if (found !== false && modal === false) modalPopup(found);
    });
  })();
</script>